<div class="grid grid-cols-3 text-white gap-2">

  <div class="col-span-2">
    <div class="grid grid-cols-2 mb-3">
      <p class="text-4xl">Videos</p>
      <a routerLink="/" class="text-lg mt-2">Browse All Videos</a>
    </div>

    <div class="grid grid-cols-3 gap-2" *ngIf="videos.length > 0">

      <a *ngFor="let video of videos; let i = index" routerLink="/" [class]="i == 0 ? 'col-span-2 row-span-2 h-[400px]':'col-span-1 h-[195px]'" class="bg-cover relative" style="background-image: url('{{video.imgThumbnail}}');">
        <div class="absolute bottom-0 px-4 py-3 bg-gray-500/50 w-full">
          <h1 class="font-semibold" [class]="i == 0 ? 'text-4xl': 'text-2xl'" *ngIf="i == 0"> {{ video.videoTitle }} </h1>
          <div class="flex justify-between">
            <p class=""> {{ video.uploader }} </p>
            <p>{{ video.totalViewer }} Views</p>
          </div>
        </div>
      </a>
      <a routerLink="/" class="col-span-1 flex items-center border border-white justify-center h-[195px]">
        <div class="flex">
          <i class="btn btn-circle bg-transparent border-white pt-3 fas fa-upload mr-2"></i>
          <p class="mt-2 whitespace-pre-line">Upload Your Own Video</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-span-1 ">
    <div class="grid grid-cols-3">
      <p class="text-4xl">Activity</p>
      <p class="col-span-2 text-sm mt-3 pt-1 ml-10">View timeline / Filter activities</p>
    </div>

    <hr class="bg-white text-white border border-white font-bold mt-3">

    <!-- START NGFOR -->
    <a routerLink="/" class="grid grid-cols-4 my-1 py-2 px-1 gap-x-2 hover:bg-white" *ngFor="let act of activities">
      <div class="col-span-1 box-border bg-cover border h-20 w-full" style="background-image: url('{{act.imgThumbnail}}');"></div>
      <div class="col-span-3">
        <!-- USERNAME & ACTION -->
        <div class="flex">
          <p>{{ act.username }}</p>
          <small class="mt-1 ml-2 text-gray-200">{{ act.activityDetail }}</small>
        </div>

        <!-- COMMENT -->
        <div>
          <p class="text-gray-200 truncate">{{ act.description }}</p>
        </div>

        <!-- TIMESTAMP -->
        <div class="flex mt-2" [ngSwitch]="act.activity">
          <i *ngSwitchCase="'comment'" class="fas fa-comment mt-1 mr-2 text-white"></i>
          <i *ngSwitchCase="'add'" class="fas fa-video mt-1 mr-2 text-white"></i>
          <i *ngSwitchCase="'share'" class="fas fa-file mt-1 mr-2 text-white"></i>
          <i *ngSwitchCase="'achieve'" class="fas fa-unlock mt-1 mr-2 text-white"></i>
          <i *ngSwitchCase="'like'" class="fas fa-heart mt-1 mr-2 text-white"></i>
          <i *ngSwitchDefault class="fas fa-comment mt-1 mr-2 text-white"></i>
          <p class="text-gray-200"> {{ act.timestamp }} </p>
        </div>
      </div>
    </a>

    <!-- END NG FOR -->
    <hr class="bg-white text-white border border-white font-bold">
  </div>

</div>
