<div class="container pb-3">
  <hr class="bg-white border border-white my-2">

  <!-- SOCIAL MEDIA -->
  <div class="flex">
    <button class="btn btn-square bg-theme rounded-none mx-1 border-0">
      <i class="fa-brands fa-twitter"></i>
    </button>
    <button class="btn btn-square bg-theme rounded-none mx-1 border-0">
      <i class="fa-brands fa-linkedin-in"></i>
    </button>
    <button class="btn btn-square bg-theme rounded-none mx-1 border-0">
      <i class="fa-brands fa-facebook-f"></i>
    </button>
  </div>

  <!-- REFERENCES -->
  <div class="flex text-white text-lg mt-3">
    <a routerLink="/about" class="mx-2">About</a> /
    <a routerLink="/business" class="mx-2">For Business</a> /
    <a routerLink="/suggestion" class="mx-2">Suggestion</a> /
    <a routerLink="/helpfaqs" class="mx-2">Help & FAQs</a> /
    <a routerLink="/contacts" class="mx-2">Contacts</a> /
    <a routerLink="/pricing" class="mx-2">Pricing</a> /
  </div>

  <p class="mt-3 text-lg text-white">
    &copy; Copyright 2013 companyname inc.
  </p>

  <div class="text-white">
    <a routerLink="/privacy" class="mt-3 text-lg">
      Privacy / Terms
    </a>
  </div>

</div>
