<div class="col-span-2">
  <div class="grid grid-cols-2 mb-3">
    <p class="text-4xl">Documents</p>
    <a class="text-lg mt-2">Browse All Documents</a>
  </div>

  <div class="grid grid-cols-3 gap-2">
    <a *ngFor="let doc of documents; let i = index" routerLink="/" [class]="i == 0 ? 'col-span-2 row-span-2 h-[400px]':'col-span-1 h-[195px]'" class="bg-cover relative" style="background-image: url('{{doc.imgThumbnail}}');">
      <div class="absolute bottom-0 px-4 py-3 bg-gray-500/50 w-full">
        <h1 class="font-semibold" [class]="i == 0 ? 'text-2xl': 'text-lg'"> {{doc.documentName}} </h1>
        <div class="flex justify-between">
          <p class="" *ngIf="i == 0">By {{doc.uploader}} </p>
          <p>{{ doc.totalViewer }} Views</p>
        </div>
      </div>
    </a>

    <a routerLink="/" class="col-span-1 flex items-center border border-white justify-center h-[195px]">
      <div class="flex">
        <i class="btn btn-circle bg-transparent border-white pt-3 fas fa-plus mr-2"></i>
        <p class="mt-2 whitespace-pre-line">Show Your Document</p>
      </div>
    </a>
  </div>
</div>
